#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.github {
    position: relative;
    top: 20px;
    left: 26px;
    font-size: 36px;
    animation: App-logo-spin infinite 20s linear;
    margin-bottom: 20px;
}
.author {
    position: relative;
    top: 20px;
    left:40px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Microsoft YaHei","SimHei";
    margin-bottom: 20px;
}
.white {
    color: white
}

.menu {
    height: 100vh;
    padding-top: 75px;
}

.ant-layout-sider-trigger {
    display: none;
}

.ant-layout-header {
    margin-left: 16px;
}
.ant-layout-sider-collapsed .nav-text {
    display: none;
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:after { // 对缩放时的menu样式进行处理
display: none;
}

.ant-menu-submenu-vertical .ant-menu-submenu-title span span {
    display: none;
}

.ant-layout-sider-collapsed .author {
    display: none;
}


@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.sider {
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    position: relative;
    z-index: 10;
}
